 {% extends "base.html "%} {% load staticfiles %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/equipo.css' %}"> {% endblock %} {% block title %} Curso {% endblock %} {% block content %}




<!-- faq
   ================================================== -->
<section id="faq">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Nuestro equipo</h5>
            <h1>Nuestro Equipo de Materia</h1>

            <p class="lead">aqui mostramos a todos aquellos quienes conforman el equipo de trabajo</p>

        </div>
    </div>

    <div class="container2">
        <section class="row" id="Coordinador">
            <h2>Coordinador: </h2>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    {% if coordinador.foto_url %}
                    <img class="equipo-foto" src="{{ coordinador.foto_url }}" alt=""> {% else %}
                    <img class="equipo-foto" src="{{ MEDIA_URL }}{{ coordinador.file_image }}" alt="{{ coordinador.nombre }}"> {% endif %}
                    <div class="caption" />
                    <h5>{{coordinador.cargo}}</h5>
                    <h5>{{coordinador.mail}}</h5>
                    <h5>{{coordinador.telefono}}</h5>
                </div>
            </div>
        </section>
        <hr>

        <section class="" id="profesores">
            <h2>Profesores: </h2> {% for profesor in profesores %}

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    {% if profesor.foto_url %}
                    <img class="equipo-foto" src="{{ profesor.foto_url }}" alt=""> {% else %}
                    <img class="equipo-foto" src="{{ MEDIA_URL }}{{ profesor.file_image }}" alt="{{ profesor.nombre }}"> {% endif %}
                    <div class="caption" />
                    <h5>{{profesor.cargo}}</h5>
                    <h5>{{profesor.mail}}</h5>
                    <h5>{{profesor.telefono}}</h5>
                </div>
            </div>
    </div>
    {% endfor %}
    </section>










</section>
<!-- /faq -->



{% endblock %}
